requests
ffmpeg-python
moviepy
pytest
pytest-subtests
python-dotenv
python-magic
faiss-cpu
pypdf
python-docx
python-pptx
pydub
boto3
nltk
pillow
pytest-xdist
pyaml
mkdocs
mkdocstrings
mkdocstrings-python
mkdocs-section-index
mkdocs-material
nbconvert